
            <div data-sly-include="header.html"></div>


<sly data-sly-include = "/libs/wcm/core/components/init/init.jsp"/>
<sly data-sly-resource = "${'parsys-header' @ resourceType = 'wcm/foundation/components/parsys'}"/>


<sly data-sly-resource = "${'heroBanner' @ resourceType = 'training/components/ninestars/heroBanner'}"/>

                    <div data-sly-include="footer.html"></div>
