
</sly>
	<h2> Talking Tech Banner </h2>
    <div>
      <p>${properties.heading}</p>
      
      <p>${properties.description  @ context='html'}</p>
      <p>${properties.link}</p>

<img src="${properties.file}" alt="no uploads" style="width:100%"/>

<img src="${properties.bannerimage}" alt="Avatar" style="width:30%">

href = ${properties.link @context='html'}


<a href="${properties.link @ extension='html'}"  data-cq-component="clickThroughLink">${properties.linkname}</a>

<form action="${properties.link}">
        <button class = "gfg" type="submit">
            ${properties.linkname}
        </button>
    </form>

 </div>

    </div>
</sly>