
            <div data-sly-include="header.html"></div>


<sly data-sly-include = "/libs/wcm/core/components/init/init.jsp"/>
<sly data-sly-resource = "${'parsys' @ resourceType = 'wcm/foundation/components/parsys'}"/>


<a href="/content/training/us/homepageninestars/landingpageninestars1.html"  data-cq-component="clickThroughLink">go to landing page</a>


                    <div data-sly-include="footer.html"></div>
