<h2> multifield </h2>
<p data-sly-test.edit="${wcmmode.edit}" data-emptytext="ENTER DETAILS" class="cq-placeholder"></p>
<sly data-sly-use.model="com.adobe.aem.training.core.models.CompanyMultifieldModel">
    <sly data-sly-list.item="${model.compList}">
        <div class>
            <img src="${item.compimage}" alt="Avatar" style="width: 100%;" />
            <div class="container">
                <p><a href="${item.link}" target="_blank">${item.compname}</a></p>
            </div>
        </div>
    </sly>
</sly>