
    <h2> Assignment 3.1 </h2>




<img src="${properties.productimage}">

<h4><b>${properties.productname}</b></h4>

<sly data-sly-test.hasType="${properties.dropdown}">


    <pre>Selected option for details of product is: ${properties.dropdown}</pre>


    <pre data-sly-test="${properties.dropdown == 'description' && properties.description}">Text field: ${properties.description}</pre>

<pre data-sly-test="${properties.dropdown == 'textarea' && properties.textarea}">Text area: ${properties.textarea}</pre>

<pre data-sly-test="${!hasType}">No product selected</pre>
