<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='training.activities'}"/>
</sly>

<sly data-sly-use.model="com.adobe.aem.training.core.models.ActivitiesModel"/>

<table class="styled-table">
    <thead>
        <tr>
            <th>Service Method invocation</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <!--Random Activity-->
        <!--<tr class="active-row">
            <td>getRandomActivity()</td>
            <td>${model.randomActivity}</td>
        </tr>-->

        <!--OSGi Service Statistics-->
        <tr class="active-row">
            <td>getAssetsCount()</td>
            <td>${model.assetsCount}</td>
        </tr>
        <tr>
            <td>getAllAssetsCount</td>
            <td>${model.allAssetsCount}</td>
        </tr>
    </tbody>
</table>
