<h3> card component for osgi configuration</h3>

<sly data-sly-use.myCard="com.adobe.aem.training.core.models.MyCard"></sly>
<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"></sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!myCard.cardTitle}"></sly>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientlib.css @ categories='aemtutorials.myCard'}"></sly>

<div class="card ph1">
  <div class="overlay">
    <h2 class="title">${myCard.organizationName}</h2>
    <h2 class="title">${myCard.cardTitle}</h2>
    <a class="link" href=${myCard.homepageURL}>${myCard.buttonText}</a>
  </div>
</div>

<h3> testing</h3>