
<!--/*<sly data-sly-use.cardModel="com.adobe.aem.training.core.models.CardModel">

</sly>
    <h2> Card Component </h2>
    <div class="card">
      <img src="${cardModel.cardimage}" alt="Avatar" style="width:30%">
      <div class="container">
        <h4><b>${cardModel.fullname}</b></h4>
        <p>${cardModel.description}</p>
      </div>
    </div>
</sly>*/-->


<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='clientlib-training.card'}"/>
</sly>
    <h2> Card Component </h2>
    <div class="card">
      <img src="${properties.cardimage}" alt="Avatar" style="width:30%">
      <div class="container">
        <h4><b>${properties.fullname}</b></h4>
        <p>${properties.description}</p>
      </div>
    </div>
</sly>

<p>HTL testing</p>
<h1 data-sly-element="${properties.titleType}">text</h1>

<div data-sly-repeat="${currentPage.listChildren}" data-sly-attribute.class="${item.name}">${item.path}</div>

<dl data-sly-list="${currentPage.listChildren}">
    <dt>index: ${itemList.index}</dt>
    <dd>value: ${item.title}</dd>

<dd>value: ${item.path}</dd>
</dl>
<div>${properties.description @ context='html'}</div>



<h3> card component for osgi configuration</h3>